.SocialLinks {
   display: flex;
   justify-content: center;

   a {
      display: inline-flex; /* To keep it aligned properly */
      align-items: center; /* Center the icon vertically */

      padding: 10px; /* Add some padding */

      background-color: transparent; /* Initial background color */
      border-radius: 50%;

      transition: background-color 0.3s ease; /* Smooth transition for background color */
   }

   :hover {
      color: var(--contrast-color);
      background: var(--accent-color);
   }
}
