.wrapper {
   background-color: var(--bg-primary);

   @include adaptiveValue('font-size', 20, 16);

   .box {
      display: flex;
      gap: em(30);

      h2 {
         margin-bottom: em(5);
      }
      p {
         margin-bottom: em(15);
      }
      ul {
         display: flex;
         flex-direction: column;
         gap: em(10);

         margin-bottom: em(30);

         list-style: none;

         li {
            display: flex;
            gap: em(10);
            align-items: center;
         }
      }
   }

   @media (max-width: $tablet) {
      .box {
         flex-direction: column;
      }
   }
}
