.SocialLinks {
   display: flex;
   justify-content: center;

   a {
      display: inline-flex;
      align-items: center;

      padding: em(10);

      background-color: transparent;
      border-radius: 50%;

      transition: background-color 0.3s ease;

      &:hover {
         scale: 1.1;
      }
      svg {
         width: em(20);
         height: em(20);
      }
   }
}
