.wrapper {
   display: flex;
   flex-direction: column;
   gap: em(15);
   align-items: center;

   width: rem(300);
   height: 100%;
   padding: em(13);

   color: var(--text-color-primary);

   background-color: var(--bg-primary);
   border-right: 1px solid color-mix(in srgb, var(--text-color-primary), transparent 90%);

   transition: all ease-in-out 0.3s;

   @include adaptiveValue('font-size', 18, 24);

   .profileImg {
      width: em(120);
      height: em(120);

      img {
         margin-block: em(15);
         object-fit: cover;
         border: 8px solid color-mix(in srgb, var(--text-color-primary), transparent 85%);
         border-radius: 50%;
      }
   }
   h1 {
      margin: 0;

      font-size: em(24);
      font-weight: 700;
      color: var(--text-color-secondary);
      text-align: center;
   }

   @media (max-width: $mobileSmall) {
      .profileImg {
         display: none;
      }
   }
}
