.wrapper {
   display: flex;
   flex-direction: column;
   gap: rem(20);
   align-items: center;

   width: rem(300);
   height: 100%;
   padding-inline: rem(15);

   color: var(--text-color-primary);

   background-color: var(--bg-primary);
   border-right: 1px solid color-mix(in srgb, var(--text-color-primary), transparent 90%);

   transition: all ease-in-out 0.3s;

   .profileImg {
      width: rem(120);
      height: rem(120);

      img {
         margin-block: rem(15);
         object-fit: cover;
         border: 8px solid color-mix(in srgb, var(--text-color-primary), transparent 85%);
         border-radius: 50%;
      }
   }
   h1 {
      margin: 0;
      font-size: rem(24);
      font-weight: 700;
      color: var(--text-color-secondary);
   }
}
