html[data-theme='dark'] {
   /* Base Colors */
   --bg-primary: black;

   --text-color-primary: white;
   --text-color-secondary: white;

   --text-link-color: #a8a9b4;

   /* Active State */
   --text-link-hover: #a8a9b4;
}
