html[data-theme='light'] {
   /* Base Colors */
   --bg-primary: #f8f9fa; /* Soft light gray background */

   --text-color-primary: #2c3e50; /* Dark, desaturated blue for primary text */
   --text-color-secondary: #7f8c8d; /* Muted gray for secondary text */

   --text-link-color: #3498db; /* Calming blue for links */
   --color-ui-primary: #2980b9; /* Stronger blue for UI elements (buttons, highlights) */

   /* Active State */
   --text-link-hover: #1abc9c;
}
