html[data-theme='light'] {
   /* Base Colors */
   --bg-primary: #df1111;

   --text-color-primary: black;
   --text-color-secondary: white;

   --text-link-color: #a8a9b4;

   /* Active State */
   --text-link-hover: blue;
}
