:root {
   --default-font: Roboto;
   --heading-font: Raleway;
   --nav-font: Poppins;

   --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

*,
*::before,
*::after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   scroll-behavior: smooth;

   font-family: var(--default-font), sans-serif;
   line-height: 1.2;
   color: var(--text-color-primary);
   text-rendering: optimizeSpeed;

   background-color: var(--bg-primary);
}

a {
   color: var(--color-ui-primary);
   text-decoration: none;
   transition: 0.3s;

   &:hover {
      color: color-mix(in srgb, var(--color-ui-primary), transparent 25%);
      text-decoration: none;
   }
}
img {
   width: 100%;
   height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
   font-family: var(--heading-font), sans-serif;
}
