*,
*::before,
*::after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   scroll-behavior: smooth;
   font-family: var(--default-font), sans-serif;
   color: var(--default-color);
   background-color: var(--background-color);
}

a {
   color: var(--accent-color);
   text-decoration: none;
   transition: 0.3s;

   &:hover {
      color: color-mix(in srgb, var(--accent-color), transparent 25%);
      text-decoration: none;
   }
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: var(--heading-font), sans-serif;
   color: var(--heading-color);
}
