// Minimum page width
$minWidth: 320;

// Web width (layout)
$maxWidth: 1920;

// Width of the bounding container (0 = no limit)
$maxWidthContainer: 1170;

// Total padding for container
// (30 = 15px left and right, 0 = no padding)
$containerPadding: 30;

// First breakpoint trigger width
$containerWidth: $maxWidthContainer + $containerPadding;

// Break points
$pc: em($containerWidth); // PC, laptops, some tablets in horizontal position
$tablet: em(991.98); // Tablets, some phones in horizontal position
$mobile: em(767.98); // Phones L
$mobileSmall: em(479.98); // Phones S
