@mixin font-heading1 {
   font-weight: 700;
   font-style: normal;
   line-height: 1.2;
   color: var(--text-color-primary);
}

@mixin font-paragraph1 {
   font-size: rem(20);
   font-weight: 300;
   font-style: normal;
   line-height: 1.6;
}
