.NavMenu {
   margin: 0;
   padding: 0 0 20px 0;

   a {
      display: flex;
      gap: 10px;
      align-items: center;

      width: 100%;
      padding: 15px 10px;

      font-family: var(--nav-font), sans-serif;
      font-size: 16px;
      font-weight: 400;
      color: var(--nav-color);
      white-space: nowrap;

      transition: 0.3s;

      &:hover {
         color: var(--nav-hover-color);
      }
   }

   .active {
      color: var(--nav-hover-color);

      &:focus {
         color: var(--nav-hover-color);
      }
   }
}
