.wrapper {
   position: relative;
   display: flex;
   margin-bottom: rem(80);

   .projectDetails {
      width: 70%;
      margin-top: rem(20);
      color: white;
      background-color: transparent;

      h2 {
         margin-bottom: em(15);
         color: var(--text-color-primary);
      }

      article {
         margin-bottom: rem(5);
         padding: rem(16);
         background-color: var(--color-ui-primary);
         border-radius: rem(16);

         p {
            margin-bottom: rem(20);
            text-align: left;
         }
      }
      ul {
         display: flex;
         flex-wrap: wrap;
         gap: em(5);

         font-size: rem(14);
         list-style: none;

         li {
            padding: em(5) em(10);
            background-color: gray;
            border-radius: rem(16);
         }
      }
   }
   .projectCover {
      position: absolute;
      z-index: -1;
      right: 0;
      width: 70%;
   }

   @media (max-width: $mobile) {
      .projectCover {
         position: static;
         z-index: 0;
         width: 100%;
      }

      .projectDetails {
         width: 100%;
      }
   }
}
