.wrapper {
   position: relative;

   display: grid;
   grid-template-columns: repeat(12, 1fr);
   gap: 10px;
   align-items: center;

   &:not(:last-of-type) {
      @include adaptiveValue('margin-bottom', 50, 10);
   }

   .projectContent {
      position: relative;
      z-index: 1;
      grid-column: 1 / 7;
      grid-row: 1 / -1;

      h2 {
         margin-bottom: em(15);
         color: var(--text-color-primary);
      }

      article {
         margin-bottom: rem(5);
         padding: rem(16);
         background-color: var(--color-ui-primary);
         border-radius: rem(16);

         p {
            margin-bottom: rem(20);
            text-align: left;
         }
      }

      ul {
         display: flex;
         flex-wrap: wrap;
         gap: em(5);

         font-size: rem(14);
         list-style: none;

         li {
            padding: em(5) em(10);
            background-color: gray;
            border-radius: rem(16);
         }
      }

      @media (max-width: 1080px) {
         grid-column: 1 / 9;
      }

      @media (max-width: 768px) {
         z-index: 5;

         display: flex;
         grid-column: 1 / -1;
         flex-direction: column;
         justify-content: center;

         height: 100%;
         padding: 40px 40px 30px;
      }

      @media (max-width: 480px) {
         padding: 30px 25px 20px;
      }
   }
   .projectImage {
      position: relative;
      grid-column: 6 / -1;
      grid-row: 1 / -1;

      @media (max-width: 768px) {
         grid-column: 1 / -1;
         height: 100%;
         opacity: 0.25;
      }
   }
}
