.wrapper {
   display: flex;
   flex-direction: column;
   gap: em(5);
   align-items: center;

   select {
      cursor: pointer;

      width: 100%;
      padding: em(5) em(10);

      font-size: em(18);
      color: var(--text-color-primary);

      -webkit-appearance: none;
      appearance: none;
      background-color: var(--bg-primary);
      border: 1px solid var(--text-color-secondary);
      border-radius: rem(6);
   }
}
