.wrapper {
   margin: 0;
   padding: 0 0 em(20) 0;

   @include adaptiveValue('font-size', 16, 14);

   a {
      display: flex;
      gap: em(10);
      align-items: center;

      padding: em(15) em(10);

      font-family: var(--nav-font), sans-serif;
      font-weight: 400;
      color: var(--text-color-primary);
      white-space: nowrap;

      border-radius: rem(10);

      transition: 0.3s;

      &:hover {
         color: var(--text-color-secondary);
      }
   }

   .active {
      color: var(--text-color-primary);
      background: var(--bg-tertiary);
   }
}
