.Header {
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;

   overflow-y: auto;
   display: flex;
   flex-direction: column;
   gap: 20px;
   align-items: center;

   width: toRem(300);
   padding: 0 15px;

   color: var(--text-color);

   background-color: var(--background-color);
   border-right: 1px solid color-mix(in srgb, var(--text-color), transparent 90%);

   transition: all ease-in-out 0.3s;

   .profileImg {
      width: 120px;
      height: 120px;

      img {
         margin-block: 15px;
         object-fit: cover;
         border: 8px solid color-mix(in srgb, var(--text-color), transparent 85%);
         border-radius: 50%;
      }
   }
   h1 {
      margin: 0;
      font-size: 24px;
      font-weight: 700;
      color: var(--heading-color);
   }
}
