.wrapper {
   //position: relative;
   //z-index: -2;

   .box {
      display: flex;
      flex-direction: column;
      gap: rem(20);

      li:nth-child(odd) {
         div:first-child {
            grid-column: 7 / -1;
            text-align: right;
         }
         div:nth-child(2) {
            grid-column: 1 / 8;
         }
      }
   }
}
