.wrapper {
   padding-bottom: rem(40);

   .SectionHeader {
      margin-bottom: rem(60);

      h1 {
         position: relative;

         display: inline-block;

         margin-bottom: rem(30);
         padding-bottom: rem(15);

         font-size: rem(32);
         font-weight: 700;

         &:after {
            content: '';

            position: absolute;
            bottom: 0;
            left: 0;

            display: inline-block;

            width: 100%;
            height: rem(3);

            background-color: var(--color-ui-primary);
         }
      }
   }
}
