.wrapper {
   display: flex;
   align-items: center;
   justify-content: center;

   @include adaptiveValue('font-size', 25, 15);

   width: 100%;
   min-height: 100vh;
   margin-bottom: em(30);

   div {
      display: flex;
      flex-direction: column;
      gap: em(10);
      align-items: center;

      text-align: center;

      h1 {
         font-size: em(64);
         font-weight: 700;
      }

      p {
         font-size: em(26);
      }
   }
}
